@import "tailwindcss";

:root {
  --background: #0a0c10;
  --foreground: #f8fafc;
  --accent-blue: #2962ff;
  --accent-green: #26a69a;
  --accent-red: #ef5350;
  --border-color: #1e222d;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #2a2e39;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
